div > form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 1200px;
}

input[type=text],
input[type=number],
input[type=date],
input[type=email], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.coluna:after {
  content: "";
  display: table;
  clear: both;
}

.coluna .left,
.coluna .right {
    display: inline-block;
}

.coluna .left {
    width: 20%;
    line-height:3;
    float: left;
}

.coluna .right {
    width: 80%;
    line-height:3;
    float: right;
}
.coluna .left-radio-sexo {
    width: 20%;
    line-height:3;
    min-height: 80px;
    float: left;
}

.coluna .right-radio-sexo {
    width: 80%;
    line-height:3;
    min-height: 80px;
    float: right;
}

.coluna .left-radio-estado-civil {
    width: 20%;
    line-height:3;
    min-height: 120px;
    float: left;
}

.coluna .right-radio-estado-civil {
    width: 80%;
    line-height:3;
    min-height: 120px;
    float: right;
}

