table {
    border-collapse: collapse;
    border: 1px solid #EEEEEE;
    font-family: Arial;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 
        0px 0px 0px rgba(0,0,0,0.10),
        0px 10px 20px rgba(0,0,0,0.05),
        0px 20px 30px rgba(0,0,0,0.05),
        0px 30px 20px rgba(0,0,0,0.05);
}

th {
    color: white;
    background: #00cccc;
    border: 1px solid #EEEEEE;
    text-align: center;
    vertical-align: center;
    width: 60px;
    height: 12px;
}

td {
    background: white;
    border: 1px solid #EEEEEE;
    color: #999999;
    text-align: center;
    vertical-align: center;
    width: 60px;
    height: 12px;
}

table {
    border-bottom:3px #00cccc solid;
}

tr:hover td {
    color: #555555;
    background-color: #f4f4f4;
}

